{% extends "base_generic.html" %}

{% block content %}
  <h1>Organization: {{ organization.label }}</h1>

  <p><strong>Name:</strong> {{ organization.name }}</p>
  <p><strong>Website:</strong><a href="https://{{organization.website}}">{{ organization.website }}</a></p>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button 
          class="accordion-button" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#collapseconffiles" 
          aria-expanded="false" 
          aria-controls="collapseconffiles"
        >
          Descriptions
        </button>
      </h2>
      <div 
        id="collapseconffiles" 
        class="accordion-collapse collapse" 
        aria-labelledby="headingOne" 
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
              {% for project in projects %}
              <li>
                  <a href="{{project.get_absolute_url}}">{{project.name}}</a>
              </li>
              {% endfor %}
          </ul>
        </div>
      </div>
    </div>    
  </div>
{% endblock %}